* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --brend-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff91;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
    --text: 16px/150% var(--font-family);
}

html {
    max-height: 170vh;
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    
    transform: scale(0.8); 
    transform-origin: top left;
    width: 125%; /* Fiz isso para ajustar a escala do projeto a fim de normalizar a exibiçao a 100%zoom */
    
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brend-color);
    text-decoration: underline;
}

.container {
    padding-inline: 2rem;
    max-width: 80rem;
    margin-inline: auto;
}

.bg-surface-color {
    background-color: var(--surface-color);
}

@media (max-width: 30rem) {
    .container {
        margin: 0;
    }

    #logo img {
        width: 8rem;
        height: auto;
        padding: 1rem;
    }

    #primary-menu li, ul {
        max-width: 80%;
        height: auto;
    }

    #profile img {
       max-width: auto;
       max-height: 10rem;
    }

    #profile {
        flex-direction: column;
        align-items: center;
    }
    
    #text  {
        text-align: center;
    }

    .container-pf {
        flex-direction: column;
    }

    .container-pf #info {
       flex-direction: row;
       justify-content: space-between;
       gap: 2rem;
       padding: 1rem;
       padding-bottom: 0;
       height: fit-content;
       width: fit-content;
       

    }

    #flex {
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }


    #flex img {
        max-width: 13rem;
        max-height: 13rem;

    }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
   
    #primary-menu  {
        max-width: 80%;
        height: auto;
    }

    .container {
        padding: 2%;
        margin: 0;
    }


    #primary-menu img {
        width: 2rem;
        height: auto;
        padding: 0;
        margin: 0;
    }

    
    #flex {
        flex-wrap: wrap;
        height: auto;
        padding: 0.5rem;
        gap: 0.5rem;
        align-items: center;
        
    }


    #flex img {
        max-width: 9rem;
        max-height: 9rem;
        padding: 0;
        gap: 0;
       

    }
}