nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0%;
    padding-block: 1.25rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    gap: 1.25rem;
}

nav ul li:last-child img { /*ultimo filho do li>imagem*/
    width: 2.5rem;
    height: 2.5rem;
}

